{% load static tailwind_tags %}
{% load password_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="ru">
	<head>
    <title> {{title}} </title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500&display=swap" rel="stylesheet">
		{% tailwind_css %}
	</head>

	<body class="bg-gray-100">
		<!--- Навигационная панель -->
		<div class="container">
			<nav class="px-0 py-2 flex flex-nowrap bg-slate-500">
				<div class="pl-2 m-auto flex grow align-middle">
					<div class="flex flex-grow justify-center align-middle">
						<ul class="pl-0 ml-0 flex flex-row gap-5">
							<li><a href="{% url "vault:vault" %}" class="font-medium text-slate-50 hover:text-slate-200">Хранилище</a></li>
							<li><a href="#" class="font-medium text-slate-50 hover:text-slate-200">Инструменты</a></li>
							<li><a href="#" class="font-medium text-slate-50 hover:text-slate-200">Заметки</a></li>
							<li><a href="#" class="font-medium text-slate-50 hover:text-slate-200">Настройки</a></li>
							<li><a href="#" class="font-medium text-slate-50 hover:text-slate-200">Справка</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
		<!-- Основная часть сайта -->
		{% block content %}
		{% endblock content %}
	</body>
</html>
