{% load static %}
{% load password_tags %}

<div onclick="closeDialog()" id="modal-new-record" class="fixed left-0 top-0 bg-black bg-opacity-10 w-screen h-screen justify-center items-center opacity-0 hidden transition-opacity duration-300">
    <!-- Содержание модального окна -->
    <div onclick="event.stopImmediatePropagation()" class="bg-white rounded shadow-md p-1 w-[40rem] flex-col flex-none">
        <!-- Заголовок модального окна -->
        <div class="w-full flex flex-start justify-between px-7 py-4 border-b-2 border-gray-300">
            <h1 class="text-lg">Новый элемент</h1>
            <button onclick="closeDialog()">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                  </svg>                          
            </button>
        </div>
        <!-- Тело модального окна -->
        <form action="{% url "vault:save" %}" method="post">
            {% csrf_token %}
        <div class="flex flex-col px-7 py-4 h-[30 rem]">      
                <!-- 1 Ряд -->
                <div class="flex justify-between">
                    <div class="p-2 mb-[1rem]">
                        <label for="id_appname">Название приложения</label>
                        <input type="text" id="id_appname" name="appname" required 
                        class="mt-1 block rounded-md w-[16rem] peer 
                        !border !border-gray-300 border-t-transparent 
                        bg-transparent bg-white 
                        text-gray-700 
                        outline outline-0 ring-4 ring-transparent transition-all 
                        focus:border-2 focus:!border-blue-100"></input>
                    </div>
                    <div class="p-2 mb-[1rem]">
                        <label for="id_category">Категория</label>
                        <select id="id_category" name="category" 
                        class="mt-1 block rounded-md w-[16rem] peer 
                        !border !border-gray-300 border-t-transparent 
                        bg-transparent bg-white 
                        text-gray-700 
                        outline outline-0 ring-4 ring-transparent transition-all 
                        focus:border-2 focus:!border-blue-100">
                        {% get_category_list as Categories %}
                        <option selected value="">
                        </option>
                        {% for category in Categories %}
                            <option value={{category.name}}>
                                {{category.name}}
                            </option>
                        {% endfor %}
                    </select>
                    </div>
                </div>
                 <!-- 2 Ряд -->
                <div class="flex justify-between">
                    <div class="p-2 mb-[1rem]">
                        <label for="id_username">Имя пользователя</label>
                        <input type="text" id="id_username" name="username"  
                        class="mt-1 block rounded-md w-[16rem] peer 
                        !border !border-gray-300 border-t-transparent 
                        bg-transparent bg-white 
                        text-gray-700 
                        outline outline-0 ring-4 ring-transparent transition-all 
                        focus:border-2 focus:!border-blue-100"></input>
                    </div>
                    <div class="p-2 mb-[1rem]">
                        <label for="id_password">Пароль</label>
                        <input type="password" id="id_password" name="password"  
                        class="mt-1 block rounded-md w-[16rem] peer 
                        !border !border-gray-300 border-t-transparent 
                        bg-transparent bg-white 
                        text-gray-700 
                        outline outline-0 ring-4 ring-transparent transition-all 
                        focus:border-2 focus:!border-blue-100"></input>
                    </div>
                </div>
                 <!-- 3 Ряд -->
                <div class="flex justify-between">
                    <div class="p-2 mb-[1rem]">
                        <label for="id_mainurl">URL-адрес</label>
                        <input type="text" id="id_mainurl" name="mainurl"  
                        class="mt-1 block rounded-md w-[16rem] peer 
                        !border !border-gray-300 border-t-transparent 
                        bg-transparent bg-white 
                        text-gray-700 
                        outline outline-0 ring-4 ring-transparent transition-all 
                        focus:border-2 focus:!border-blue-100"></input>
                    </div>

                </div>

        </div>
        <!-- Футер модального окна -->
        <div class="w-full flex flex-start justify-between px-7 py-4 border-t-2 border-gray-300">
            <button type="submit" class="px-2 py-1 border-2 bg-slate-500 border-transparent rounded-md hover:bg-slate-600">
                <span class="font-medium text-white">Сохранить</span>
            </button>
        </div>
        </form>
    </div>
</div>