{% load static tailwind_tags %}
{% load password_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="ru">
	<head>
    <title> {{title}} </title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500&display=swap" rel="stylesheet">
		{% tailwind_css %}
	</head>
	<body class="bg-gray-100">
		<script src={% static "deps/js/jquery/jquery-3.7.0.min.js" %}></script>
		<script src={% static "deps/js/jquery-ajax.js" %}></script>
		<script type="module" src="{% static 'deps/js/token_checker.js' %}"></script>
		<!-- Навигация -->
		{% block navigation %}
		{% endblock navigation %}
		<!-- Основная часть сайта -->
		{% block content %}
		{% endblock content %}
	</body>
</html>
