{% extends "base.html" %}
{% load static %}

{% block navigation %}
{% include "includes/navbar.html" %}
{% endblock navigation %}

{% block content %}
<form action="{% url "users:profile" %}" method="post" class="mx-auto max-w-[1024px] w-full container">
    {% csrf_token %}
    <div class="p-[2rem] mt-5 mx-auto flex flex-col justify-center items-center max-w-[32rem]">
        <div class="p-[1.5rem] bg-white border-gray-200 border-1 rounded-md">
            <div class="font-medium mb-3 text-3xl flex justify-center">
                {{title}}
            </div>
            <div class="mb-3 block ">
                <label class="font-normal" for="id_username">
                    Имя пользователя
                </label>
                <input id="id_username" name="username" class="form-field" type="text"
                {% if form.username.value %} value={{form.username.value}} {% endif %}
                required>
                </input>
                <div class="pt-1 block text-pink-500">
                    {% if form.username.errors %}{{form.username.errors}}{% endif %}
                </div>
            </div>
            <div class="mb-3 block ">
                <label class="font-normal" for="id_email">
                    Электронная почта
                </label>
                <input id="id_email" name="email" class="form-field" type="email" 
                {% if form.email.value %} value={{form.email.value}} {% endif %}
                required>
                </input>
                <div class="pt-1 block text-pink-500">
                    {% if form.email.errors %}{{form.email.errors}}{% endif %}
                </div>
            </div>
            <button type="submit" class="px-2 py-1 w-full border-2 bg-slate-500 border-transparent rounded-md hover:bg-slate-600">
                <span class="font-medium text-white">Сохранить</span>
            </button>
        </form>
        <form action="{% url "users:delete" %}">
            <button type="submit" class="px-2 py-1 w-full border-2 bg-pink-400 border-transparent rounded-md hover:bg-pink-600">
                <span class="font-medium text-white">Удалить пользователя</span>
            </button>
        </form>
        </div>
    </div>
{% endblock content %}